@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,200;1,400;1,500&display=swap');
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family:'Poppins', sans-serif;
    cursor: pointer;
}




.submenu {
  position: absolute;
  background-color: #fff;
  padding: 10px;
  z-index: 1;
  border: 1px solid #ADD8E6;
}
.submenu a {
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 5px;
}

  .container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  

  
  .services-2 {
    padding: 2rem 2rem 2.5rem;
    border: 5px solid #000;
    border-radius: 30px;
    margin-bottom: 20px;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
    margin: 10px 200px 20px 200px;
    padding: 10px;
  }
  
  .services-2:hover {
    border-color: #ff0000;
  }
  
  
  .text {
    text-align: left;
  }

  body {
    margin: 0;
    font-family: Arial, sans-serif;
  }

  .pricing-table {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }

  .pricing-card {
    width: 25%;
    text-align: center;
    margin-bottom: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    background-image: url('https://img.freepik.com/free-vector/flat-design-black-white-halftone-background_23-2150607369.jpg');
    background-size: cover;
    background-position: center;
  }

  .pricing-card:hover {
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.2);
  }

  .pricing-card-header {
    background-color: #67c23a; 
    color: #fff;
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .pricing-card-header h2 {
    margin: 0;
    font-size: 20px;
  }

  .pricing-card-body {
    padding: 20px;
  }

  .pricing-card-footer {
    background-color: #ADD8E6; 
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .pricing-card-footer button {
    background-color: #fff;
    color: #000000; 
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

  .pricing-card-footer button:hover {
    background-color: #000;
    color: #fff;
  }

 html{scroll-behavior: smooth;}

 .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
  }
  .gallery-item {
    width: calc(100% / 4);
    margin: 20px;
    position: relative;
    cursor: pointer;
  }
  .gallery-item img {
    width: 100%;
    height: 300px;
    display: block;
    object-fit: cover;
  }
  .modal {
    display: none;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
  }
  .modal-content {
    display: block;
    margin: 10% auto;
    padding: 20px;
    background-color: #fefefe;
    border: 1px solid #888;
    width: 80%;
    max-width: 700px;
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
  }
  .prev{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color:#b3e7ff;
    text-decoration: none;}
    .prev {left: 0;border-radius: 0 0 0 0;}
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    background-color: #b3e7ff;
    text-decoration: none;
  }
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover{background-color: rgba(0, 0, 0, 0.8);}
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  .modal-caption {
    text-align: center;
  }



#header {
    width: 100%;
    padding:0px 30px;
    display: flex;
    align-items: center;    
}




#actions {
    display: flex;
}

#actions .item {
    margin-left:22px;
}




#banner {
    width: 100%;
    background-image :url("assets/A-Guide-to-Digital-Marketing-for-Pet-Stores.jpg");
    height: 463px;
    display: flex;
    padding:0px 133px;
    position:relative;
}

#banner .box-left ,#banner .box-right {
    width: 50%;
}

#banner  .box-left h2 {
    font-size:48px;
    margin-top:75px;
    color:black;
}

#banner .box-left p {
    color: black;
}

#banner .box-left button {
    width: 191px;
    height: 40px;
    margin-top:41px;
    background:#1d1a1a;
    border:none;
    outline:none;
    color:#fff;
    font-weight: bold;
    border-radius: 20px;
    transition:0.4s;
}

#banner .box-left button:hover {
    background:orange;
}

#banner .box-right {
    padding-left:200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#banner .box-right img {
    margin:0px 10px;
    animation :animation 3s infinite linear; 
}


#banner .box-right img:nth-child(1)
{
    animation-delay: 0.5s;
}
#banner .box-right img:nth-child(2)
{
    
    animation-delay: 1s;
}

@keyframes animation {
    0%{
        transform:translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
    
}

.to-bottom {
    position:absolute;
    bottom:-40px;
    left:50%;
    transform:translateX(-50%);
}



#wp-products {
    padding-top:116px;
    padding-bottom: 78px;
    padding-left:134px;
    padding-right:134px;
}

#wp-products h2 {
    text-align: center;
    margin-bottom: 76px;
    font-size:32px;
    color:#626a67;
}


#list-products {
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#list-products .item {
    width: 290px;
    height: 374px;
    background:#362f2f;
    border-radius: 10px;
    margin-bottom: 50px;
}

#list-products .item img {
    display: block;
    margin:0px auto;
    margin-top:17px;
}


#list-products .item .name {
    text-align: center;
    color:#fff;
    font-weight: bold;
    margin-top:21px;
}

#list-products .item .desc {
    text-align: center;
    color:#626a67;
}




.list-page {
    width: 50%;
    margin:0px auto;
}

.list-page {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

.list-page .item {
    margin:0px 15px;
    width: 37px;
    height: 37px;
    background:#362f2f;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.list-page .item a {
    color:#fff;
    text-decoration: none;
}


#reason{

}

#comment {
    width: 1012px;
    height: 478px;
    margin:0px auto;
    margin-top:184px;
    margin-bottom: 50px;
}

#comment h2 {
    text-align: center;
    margin-bottom: 50px;
    font-size:32px;
    color:#626a67;
}


#comment-body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 400px;
    list-style: none;
    overflow: hidden;
}

#list-comment {
    width: 100%;
    height: 100%;
    list-style: none;
    transition:0.5s;
}

#list-comment .item {
    width: 100%;
    height: 100%;
    background:#362f2f;
    border-radius: 20px;
    padding-top:50px;
}

#list-comment .item .avatar {
    text-align: center;
    margin-top:13px;
}


#list-comment .item .name {
    text-align: center;
    font-weight: bold;
    color:#fff;
}

#list-comment .item .text {
    padding:20px 50px;
    color:#fff;
   
}

#footer {
    width: 100%;
    background:rgb(0,0,0,0.79);
    height: 322px;
    margin-top:100px;
    padding:0px 63px;
    padding-top:57px;
    display: flex;
    justify-content: space-around;
}

#footer .box {
    width: 250px;
    color:#fff;
}

#footer .box .quick-menu {
    margin-top:40px;

}


#footer .box .quick-menu .item{
    margin-bottom:12px;

}
#footer .box .quick-menu ,.item a{
    color:#fff;
    text-decoration: none;
}



#footer .box form input {
    width: 294px;
    height: 42px;
    background:transparent;
    padding-left:20px;
    color:#fff;
    margin-top:30px;
}

#footer .box form button {
    background:#362f2f;
    box-shadow: 5px 5px 4px rgba(0,0,0.25);
    width: 163px;
    height: 38px;
    margin-top:29px;
    color:#fff;
}